* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}


.logo {
    width: 50px;
    cursor: pointer;
    margin: 10px 5px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5ea2;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

.container-box {
    position: relative;
    text-align: center;
    color: white;
}

.header-Img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(25deg, #ff469f, #ff6062);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

small {
    color: rgba(44, 43, 43, 0.748);
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 1px solid rgb(40, 40, 40);
}

#bio-Sum {
    padding-left: 25px;
    padding-right: 25px;
    text-indent: 20px;
    margin-top: 1%;
}

#selfieWithDuke {
    display: block;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    height: auto;
    width: 70%;
}

.eduContainer {
    list-style-position: inside;
    font-size: 21px;
    padding: 1em 2em 2em;
    border: 1px solid rgb(40, 40, 40);
    margin: 25px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(#c93678, #db5344);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    width: 95%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 31px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*media sizing for tablet to 1025px mini-adjustments compared to starter code for large media size*/
@media screen and (max-width: 1025px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 22px;
    }

    #bio-Sum {
        font-size: 17px;
        padding-left: 5px;
        padding-right: 2px;
    }

    #selfieWithDuke {
        height: auto;
        width: 35%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .eduContainer {
        font-size: 21px;
        padding: 2px;
    }
}

/*media sizing, update display when smaller screen*/
@media only screen and (max-width:600px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#cf2773, #db4447);
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        top: 10%
    }

    .container-box {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .header-Img {
        width: 245%;
        height: 150px;
        object-fit: cover;
    }

    .text-block {
        position: absolute;
        width: inherit;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    small {
        color: rgba(44, 43, 43, 0.488);
    }

    p {
        place-items: center;
        font-size: 21px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .flex-child {
        flex: 1;
        border: thick double #000000;
    }

    h1 {
        font-size: 25px;
    }

    #bio-Sum {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 2px;
    }

    #selfieWithDuke {
        height: auto;
        width: 100%;
    }

    .eduContainer {
        font-size: 15px;
        padding: 2px;
        margin: 1px;
    }
    .button {
        margin: 7%;
        width: 85%;
    }
}