* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 10px 5px;
}

#menuList {
    margin-right: 8%;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5ea2;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 42px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

/*adds margin to seperate <p> to <h4>*/
.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.col-1::after {
    content: '';
    width: 12px;
    height: 90%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -50px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.col-2 .selfieBrand {
    width: 35%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 95%;
    z-index: -1;
    transform: translateX(150px);
}

.boxSum img {
    width: 35px;
    margin-bottom: 5px;
}

.boxSum {
    text-align: center;
    margin-left: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Footer social links*/
.social-links a i {
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links {
    font-size: 25px;
    text-align: center;
}

.fa-color {
    color: #000;
}

.fa-color:hover {
    color: #ff54a2;
}
 /*replit icon wasn't available in font-awesome link, so img.png added instead to compensate*/
.fa-replit {
   width: 17px;
   filter: black;
}
    

/* Media Query for Mobile Devices */
@media (min-width: 200px) and (max-width: 767px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#cf2773, #db4447);
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .logo {
        margin-left: 35px;
    }

    .menu-icon {
        display: block;
        margin-right: 7%;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        margin-right: 0;
        top: 10%
    }

    .row {
        flex-direction: column;
        margin: auto;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .selfieBrand {
        width: 50%;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
        margin-left: 1px;
    }

    .col-1 h2 {
        font-size: 25px;
    }

    .col-1 h3 {
        font-size: 15px;
    }
    
    .boxSum img {
        width: 35px;
        margin-bottom: 5px;
    }

    .boxSum {
        text-align: inherit;
        margin-left: 3%;
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .social-links {
        display: inline-block;
    }
}
