* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes color-change {
    0% {
      color: rgb(192, 67, 98);
    }
    50% {
      color: rgb(189, 39, 76);
    }
    100% {
      color: rgb(196, 37, 127);
    }
}
  
.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 10px 5px;
}

#menuList {
    margin-right: 30px;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5ea2;
}

.hero-video {
    position: relative;
    height: auto;
}
  
.hero-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
  
.hero-video .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
  
.hero-video h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    z-index: 1;
}

#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}    
/*****************************************/

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-1 {
    position: relative;
    flex-basis: 40%;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 35px;
}

.col-1 h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    margin: 10px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

/*adds margin to seperate <p> to <h4>*/
.col-1 h4 {
    margin: 30px 0;
    font-size: 15px;
    color: #fff;
}

.col-1::after {
    content: '';
    display: block;
    width: 35px;
    height: 253px;
    position: absolute;
    left: -50px;
    top: 50px;
    transform: translateY(-19%);
    background: linear-gradient(#ff6062,#ff469f);
}

.col-2 {
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.col-2 .selfieBrand {
    width: 45%;
}

.color-box {
    position: absolute;
    height: 100%;
    width: 250%;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    z-index: -1;
    transform: translateX(150px);
    display: inline-block;
}

.boxSum img {
    width: 35px;
    margin-bottom: 5px;
}

.boxSum {
    text-align: center;
    margin-left: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Footer social links*/
.social-links {
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width:600px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#cf2773, #db4447);
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        padding-inline-end: 9%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }


    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        margin-right: 0;
        top: 10%
    }

    .color-box {
        transform: translateX(75px);
    }

    .row {
        flex-direction: column;
        margin: auto;
    }

    .col-1 {
        flex-basis: 100%;
        margin-left: 1px;
    }

    .col-1 h2 {
        font-size: 25px;
    }

    .col-1 h3 {
        font-size: 15px;
    }

    .col-1::after {
        left: -23%;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .selfieBrand {
        width: 50%;
    }

    .boxSum img {
        width: 35px;
        margin-bottom: 5px;
    }

    .boxSum {
        text-align: inherit;
        margin-left: 3%;
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 5px;
    }
}

