/*Contacts page*/
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}


.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 21px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff5ea2;
}

.navcontainer {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.contactContainer {
  width: 100%;
  background: linear-gradient(45deg, #ff469f, #ff5);
  border-radius: 6px;
  padding: 70px 60px 85px 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contactContainer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactContainer .content .left-side {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 25px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 17px;
  color: #efd8d8;
}

.contactContainer .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}

.content .right-side p {
  font-size: large;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

/*Footer social links*/
.social-links a i {
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.social-links {
  width: 100%;
  font-size: 27px;
  text-align: center;
}

.fa-replit {
  width: 14px;
}

.fa-color {
  color: #000;
}

.fa-color:hover {
  color: #ff54a2;
}

@media (max-width: 950px) {
  .contactContainer {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .contactContainer .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#cf2773, #db4447);
    position: absolute;
    top: 85px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  .contactContainer {
    margin: 0px auto;
    height: 100%;
  }

  .contactContainer .content {
    flex-direction: column-reverse;
  }

  .contactContainer .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contactContainer .content .left-side::before {
    display: none;
  }

  .strongFontSize{
    font-size: 15px;
  }

  .contactContainer .content .right-side {
    width: 100%;
    margin-left: 0;
  }

  .content .right-side .topic-text {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
  }

  .content .right-side p {
    font-size: medium;
  }
}