* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}


.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5ea2;
}

ul li {
    margin: 16px 0;
}

.projectHeaderTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: #b58bc2;
}

.projects {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 15px 0 50px 0;
}

.projectsTitleTextEdit {
   
    font-weight: bold;
    text-align: center;
    color: blueviolet;
    padding: 20px; 
}

.projectsImgs {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

/*skills under "home" section*/
.skillsTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: #b58bc2;
}

.skillsSummary {
    text-align: center;
    padding: 20px;
    font-size: large;
}

/*skillds listed*/
.skillsList {
    margin: 16px 0;
    padding-left: 40px
}

/*container for skills icons*/
.iconContainer {
    display: flex;
    flex-direction: row-reverse;
}

/*nodejs icon*/
.nodejsIcon {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    border: none;
    display: block;
    background: transparent url('./img/nodejsIcon.png') center/100% no-repeat;
}

.nodejsIcon:hover {
    background-image: url('./img/hoverOverNodejsIcon.png');
}

/*visual studion icon*/
.visualStudio {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    display: block;
    background: transparent url('./img/visualStudio.png') center/100% no-repeat;
}

.visualStudio:hover {
    background-image: url('./img/hoverOvervisualStudio.png');
}

/*sql icon*/
.sqlIcon {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    display: block;
    background: transparent url('./img/sql.png') center/100% no-repeat;
}

.sqlIcon:hover {
    background-image: url('./img/hoverOverSQL.png');
}

/*insomnia icon*/
.insomnia {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    display: block;
    background: transparent url('./img/insomnia.png') center/100% no-repeat;
}

.insomnia:hover {
    background-image: url('./img/hoverOverInsomnia.png');
}

/*gitbash icon*/
.gitbash {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    display: block;
    background: transparent url('./img/gitbash.png') center/100% no-repeat;
}

.gitbash:hover {
    background-image: url('./img/hoverOvergitbash.png');
}

/*mongoDB icon*/
.mongodb {
    width: 100%;
    height: 250px;
    position: relative;
    flex: auto;
    display: block;
    background: transparent url('./img/mongoDB.png') center/100% no-repeat;
}

.mongodb:hover {
    background-image: url('./img/hoverOvermondodb.png');
}

.sideProjectHeaderTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: #b58bc2;
}

/*media sizing update*/
@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#cf2773, #db4447);
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    
    /*change title when screen shifts to smaller media query size*/
    .projectHeaderTitle,
    .skillsTitle,
    .sideProjectHeaderTitle{
        text-align: center;
        font-size: 20px;
        margin: 2px;
        color: rgb(255, 255, 255);
        background: linear-gradient(#db4447,#ff5ea2);
    }

    .projects {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 17px;
    }
    
    .projectsTitleTextEdit {
        text-align: center;
        padding: 1%;
    }

    .skillsSummary {
        text-align: center;
        padding: 18px;
        font-size: 15px;
    }
    

    .skillsList {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .nodejsIcon,
    .visualStudio,
    .sqlIcon,
    .insomnia,
    .gitbash,
    .mongodb {
        height: 75px;
        width: auto;
    }
}

